extends layout

block content
  .container
    header
      img(src="/logo.png", alt="OTL Logo", id="logo")
    ul
      each checklist in checklists
        li.search-result-item
          a(href=`/checklist/${checklist._id}`)
            | #{checklist.procedure_no} - #{checklist.title}
